<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hairanalysis.mapper.boka.SellCardDetailRecordMapper">

    <resultMap id="SellCardDetailRecordMap" type="com.example.hairanalysis.model.SellCardDetailRecord">
        <id property="id" column="id"/>
        <result property="compId" column="comp_id"/>
        <result property="billId" column="bill_id"/>
        <result property="billDate" column="bill_date" jdbcType="DATE"/>
        <result property="memberCardNo" column="member_card_no"/>
        <result property="storedAmount" column="stored_amount"/>
        <result property="giftAmount" column="gift_amount"/>
    </resultMap>

    <select id="findByStoreAndMonth" resultMap="SellCardDetailRecordMap">
        SELECT id,
               comp_id,
               bill_id,
               DATE(STR_TO_DATE(bill_date, '%Y-%m-%d %H:%i:%s')) AS bill_date,
               member_card_no,
               stored_amount,
               gift_amount
        FROM bdc_boka_sell_card_detail_records
        WHERE comp_id = #{storeId}
          AND DATE(STR_TO_DATE(bill_date, '%Y-%m-%d %H:%i:%s')) BETWEEN #{startDate} AND #{endDate}
    </select>

    <select id="findByBillId" resultMap="SellCardDetailRecordMap">
        SELECT id,
               comp_id,
               bill_id,
               DATE(STR_TO_DATE(bill_date, '%Y-%m-%d %H:%i:%s')) AS bill_date,
               member_card_no,
               stored_amount,
               gift_amount
        FROM bdc_boka_sell_card_detail_records
        WHERE bill_id = #{billId}
    </select>
</mapper>
